.section3{
    height: 70vh;
    background-color: #003464;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.section3 .left{
    height: 100%;
    display: flex;
    align-items: end;
}

.section3 .right{
    width: 40%;
    margin-right: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    color: #FAFAFA;
}

.section3 .right h1{
    font-size: 2.5rem;
}

.section3 .right p{
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 200;
}
